
@{
    ViewData["Title"] = "Failed Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="py-2 text-center">
    <img class="d-block mx-auto mb-4" src="http://markdevthoughts.net/wp-content/uploads/2020/10/devtlogo.png" alt="" height="80">
    
    <h2>
        Payment failed
    </h2>
</div>
